= render 'home/header'
.bread-crumbs
  .bread-crumbs_box
    - breadcrumb :logout
    = breadcrumbs separator: " &rsaquo; "
.l-contener
  = render 'mypages/logout'
  = render 'mypages/side_bar'
= render 'home/footer'
= render 'home/exhibit_btn'
