= render 'home/header'
.bread-crumbs
  .bread-crumbs_box
    - breadcrumb :todo
    = breadcrumbs separator: " &rsaquo; "
.l-contener
  = render 'mypages/todo'
  = render 'mypages/side_bar'
= render "home/footer"
= render "home/exhibit_btn"
