%header.pc-header
  .pc-header-inner
    = link_to image_tag('logo.svg', alt:"mercari", class: 'l-left'), root_path

    .pc-header-form.l-right
      = search_form_for(@search_data, url:search_path) do |f|
        = f.search_field :info_or_name_or_brand_name_or_category_name_cont_all, placeholder: "キーワードから探す", class: "input-keyword"
        %button.icon-search{type:"submit"}
          %i.fas.fa-search

    .pc-header-nav-box.clearfix
      %nav.list-left
        = render partial: 'home/ddmenu', locals: {parents: @parents, brands: @brands}

      - if user_signed_in?
        %nav.list-right
          %li
            = image_tag "member_photo_noimage_thumb.png",alt:"noimage_thumb",class: "nav_mypage_icon"
            = link_to 'マイページ', mypage_path, class: "nav-mypage"
          %li
            %i.fas.fa-bell
            = link_to 'おしらせ', '/mypage/notification/', class: "nav-notification"
          %li
            %i.fas.fa-check
            = link_to 'やることリスト', '/mypage/todo/', class: "nav-todo"
          %li
            %i.fas.fa-camera
            = link_to 'らくちん査定', price_recommend_path, class: "nav-todo"

      - else
        %nav.list-right
          %li
            = link_to '新規会員登録', signup_path, class: "sp-header-btn header-signup"
          %li
            = link_to 'ログイン', new_user_session_path, class: "sp-header-btn btn-red"
