= render 'home/header'
.l-contener
  .mypage
    .mypage_contents
      %h4.profile__title 支払い方法
      .credit
        %p.credit__text クレジットカード一覧
        - if @credits.present?
          - @credits.each do |credit|
            .credit__list
              .card__mark
                = image_tag("credits/#{credit.card_img}.svg", alt:"#{credit.card_img}")
              %p
                = credit.low_four_digits
              %p
                - if credit.expiration_month >= 10
                  = credit.expiration_month
                - else
                  = credit.month_number
                \/
                = credit.expiration_year
              .card__delete
                = link_to "削除する", "/mypage/card/#{credit.id}", method: :delete, class: "card__delete__text"
        - else
          .credit__list
            = link_to card_create_path, method: :get, "style": "color:white;" do
              .btn.btn__red
                %i.far.fa-credit-card
                クレジットカードを追加する
  = render 'mypages/side_bar'
