.items-in-user-profile
  %section.items-box-container.clearfix.in-user-profile
    %h2.item-box-head
      =link_to "",class: 'user-link' do
        %p #{user.nickname}さんのその他の出品
    .items-box-content.clearfix
      - sell_other_products[0...6].each do |sell_other_product|
        %section.items-box
          =link_to (product_path(sell_other_product)),class: 'item-box' do
            .items-box-photo
              = image_tag sell_other_product.images.first.image
            .items-box-body
              %h3.item-name.font-2 #{sell_other_product.name}
              .item-box-num.clearfix
                .item-box-price.font-5
                  ¥
                  = number_with_delimiter(sell_other_product.price)
                .item-box-likes
                  %p.like-count 13
                  %i.like.font-2
                %p.item-box-tax（税込）

  %section.items-box-container.clearfix.in-category
    %h2.item-box-head
      - if brand.blank?
        =link_to "",class: 'user-link' do
          %p #{category.name}(#{category.parent.parent.name}) その他の商品
      - else
        =link_to "",class: 'user-link' do
          %p #{brand.name}の#{category.name} その他の商品
    - if related_items.empty?
      %p.no-item 関連する商品はございません。
    - else
      .items-box-content.clearfix
        - related_items[0...6].each do |related_item|
          %section.items-box
            =link_to (product_path(related_item)),class: 'item-box' do
              .items-box-photo
                = image_tag related_item.images.first.image
              .items-box-body
                %h3.item-name.font-2 #{related_item.name}
                .item-box-num.clearfix
                  .item-box-price.font-5
                    ¥
                    = number_with_delimiter(related_item.price)
                  .item-box-likes
                    %p.like-count 13
                    %i.like.font-2
                  %p.item-box-tax（税込）

