= render 'home/header'
.l-contener
  .mypage
    .mypage_contents
      .mypage__content-box
        .mypage__content-head
          %h3.mypage__content-label 購入した商品
        .mypage__tabs-bottom
          =link_to mypage_purchase_path,class: "mypage__tabs-list" do
            .mypage__tabs-text 取引中
          =link_to mypage_purchased_path,class: "mypage__tabs-list" do
            .tab-active
              .mypage__tabs-text 過去の取引
        - if @product.present?
          = render partial: 'mypages/items', locals: {products: @product}
        -else
          .mypage__no-item
            .mypage__no-item-icon
            .mypage__no-item-text 過去に取引した商品がありません
  = render 'mypages/side_bar'
= render 'home/footer'
= render 'home/exhibit_btn'
